<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Add Budget Item</title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <h1 class="header_name">Budget Manager</h1>
            <p class="header_items"><a href="home">Home</a></p>
            <p class="header_items"><a href="viewTransaction">View Transactions</a></p>
            <p class="header_items"><a href="editBudget">Budget</a></p>
            <p class="header_items"><a href="logout">Logout</a></p>
        </nav>
        <main>
            <h1>Add Budget Item</h1>
            <form action="#" method="post">
                <h4>Budget Item:</h4>
                <p><input type="text" name="reason" /></p>
                <h4>Value:</h4>
                <p><input type="text" name="value" /></p>
                <p><input type="submit" name="submit" value="Submit"></p>
                <h3>What is a Budget Item?</h3>
                <p>
                    Add information for the user to read to understand how to use the website
                </p>
            </form>
        </main>
    </div>
</body>
</html>
