<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/addTransaction.css">
    <title>Add Transaction</title>
</head>
<body>
    <nav>
        <h1 class="header-name"><a href="home">Budget Manager</a></h1>
        <div class="header-items">
            <p><a href="home" class="header-item1">Home</a></p>
            <p><a href="viewTransaction" class="header-item2">View Transactions</a></p>
            <p><a href="editBudget" class="header-item3">Budget</a></p>
            <p><a href="logout" class="header-item4">Logout</a></p>
        </div>
    </nav>
    <main>
        <div class="wrapper">
            <h1 class="transaction-title">Add Transaction</h1>
            <form action="#" method="post">
                <div class="date">
                    <h4>Date:</h4>
                    <p><input type="text" name="date" /></p>
                </div>
                <div class="reason">
                    <h4>Reason:</h4>
                    <p><input type="text" name="reason" /></p>
                </div>
                <div class="amount">
                    <h4>Amount:</h4>
                    <p><input type="text" name="amount" /></p>
                </div>
                <div class="buttons">
                    <p><input class="bttn" type="submit" value="submit" class="bttn"></p>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
