<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Budget</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <p><a href="home">Home</a></p>
            <p><a href="viewTransaction">View Transactions</a></p>
            <p><a href="logout">Logout</a></p>
        </header>
        <main>
            <h1>Your Current Budget</h1>
            <p> Display users current budget here </p>

            {{ for x in session["budget_items"] }}
            <p>{{x}}</p>
            {{ endfor }}
            
            <form action="#" method="post">
                <p><input type="submit" name="add_budgetItem" value="Add Budget Item"></p>
            </form>
        </main>
    </div>
</body>
</html>
