<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/home.css">
</head>
<body>
    <div class="wrapper">
        <nav>
            <h1 class="header_name">Budget Manager</h1>
            <p class="header_items"><a href="home">Home</a></p>
            <p class="header_items"><a href="viewTransaction">View Transactions</a></p>
            <p class="header_items"><a href="editBudget">Budget</a></p>
            <p class="header_items"><a href="logout">Logout</a></p>
        </nav>
        <main>
            <div class="wraper">
                <h1>Welcome, {{session["username"]}}</h1>
                <div class="home_transactions">
                    <h3>Transactions</h3>
                    {% for x in range(5) %}
                    <p>{{session["recent_transactions"][x]}}</p>
                    {% endfor %}
                    <form action="#" method="post">
                        <p><input type="submit" name="view_transactions" value="View Transactions"></p>
                        <p><input type="submit" name="add_transaction" value="Add Transaction"></p>
                    </form>
                </div>
                <div class="home_overview">

                    <form action="#" method="post">
                        <p><input type="submit" name="view_previous_months" value="View Previous Months"></p>
                    </form>
                </div>
                <div class="home_budget">
                    {% for x in session["budget_items"] %}
                    <p>{{x}}</p>
                    {% endfor %}
                    <form action="#" method="post">
                        <p><input type="submit" name="edit_budget" value="Edit Budget"></p>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
