<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/normalize.css?q=1280549780">
    <link rel="stylesheet" href="../static/styles/login.css?q=1280549780">
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <main>
            <h1>Login</h1>
            <form action="#" method="post">
                <h4>Username:</h4>
                <p><input type="text" name="username" /></p>
                <h4>Password:</h4>
                <p><input type="text" name="password" /></p>
                <p><input type="submit" name="login" value="Submit"></p>
                <p><input type="submit" name="signup" value="Create account"></p>
            </form>
        </main>
    </div>
</body>
</html>
