<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <p><a href="home">Home</a></p>
            <p><a href="viewTransaction">View Transactions</a></p>
            <p><a href="logout">Logout</a></p>
        </header>
        <main>
            <h1>Logout</h1>
            <p>{{session["username"]}} are you sure you want to log out?</p>
            <form action="#" method="post">
                <p><input type="submit" name="yes_logout" value="Yes I'd Like to Logout"></p>
                <p><input type="submit" name="no_logout" value="No I Don't Want to Logout"></p>
            </form>
        </main>
    </div>
</body>
</html>