<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>View Transactions</title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <h1 class="header_name">Budget Manager</h1>
            <p class="header_items"><a href="home">Home</a></p>
            <p class="header_items"><a href="viewTransaction">View Transactions</a></p>
            <p class="header_items"><a href="editBudget">Budget</a></p>
            <p class="header_items"><a href="logout">Logout</a></p>
        </nav>
        <main>
            <h1>Transactions</h1>
            {% for x in range(session["display_transaction_months_length"]) %}
            <form action="#" method="post">
              <p><input type="submit" name="{{x}}" value="{{session['display_transaction_months'][x]}}"></p>
            </form>
            {% endfor %}
            <h1>The chosen month</h1>
            {% for x in session["month_to_display"] %}
            <p>{{x}}</p>
            {% endfor %}
        </main>
    </div>
</body>
</html>
