<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Transactions</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <p><a href="home">Home</a></p>
            <p><a href="viewTransaction">View Transactions</a></p>
            <p><a href="logout">Logout</a></p>
        </header>
        <main>
            <h1>Transactions</h1>
            {% for x in session["recent_transactions"] %}
            <p>{{x}}</p>
            {% endfor %}
        </main>
    </div>
</body>
</html>