body {
  background-color: #d9d9d9;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  border: 2px solid #787878;
  background-color: #adadad;
}

.header-name {
  margin-left: 10px;
  padding: 5px;
  flex-grow: 5;
  font-size: 40px;
}

.header-items {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

nav a{
  text-decoration: none;
  color: black;
}

nav a:hover{
  color: #525252;
}

nav a:active{
  color: #d9d9d9;
}

.header-item1 {
  margin-right: 50px;
  padding: 5px;
}

.header-item2 {
  margin-right: 50px;
}

.header-item3 {
  margin-right: 50px;
}

.header-item4 {
  margin-right: 50px;
}
