body {
  background-color: #d9d9d9;
}

.header-nav{
  display: flex;
  flex-direction: row;
  margin: 5px;
  border: 2px solid #787878;
}

.header-items {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
  border: 2px solid #787878;
}

.header-name {
  margin-left: 10px;
  padding: 5px;
  border: 2px solid #787878;
}

.header-item1 {
  margin-right: 15px;
  border: 2px solid #787878;
}

.header-item2 {
  margin-right: 15px;
  border: 2px solid #787878;
}

.header-item3 {
  margin-right: 15px;
  border: 2px solid #787878;
}

.header-item4 {
  margin-right: 15px;
  border: 2px solid #787878;
}
